.navBar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navItemWrapper {
    position: relative;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .navBarLink {
    text-decoration: none;
    color: #eaeaea;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  
  .navBarLinkActive {
    color: #2d2d2d;
  }

  
  .navBarItemBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dfdfdf;
    border-radius: 6px;
    z-index: 0;
  }

  .navBar-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 2rem;
    color: #eaeaea;
    cursor: pointer ;
  }
  