.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.name {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffff56;
}

.intro-text{
    width: 70%;
}